body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
html.body{width:100%;height:100%;overflow: hidden;}
body{font-size:16px;}
img,button{border:none;}
button{ background-color: white;}
li{list-style:none;}
input,select,textarea{outline:none;border: none;background-color:none;}
textarea{resize:none;}
a{text-decoration:none;color:white;}
a:hover{color: #f9f9f9;}
.fl{float: left;}
.fr{float: right;}
/*球队标志*/
.bxkts{background: url("../images/icon/贝西克塔斯.png") no-repeat;}
.Manchester{background:url("../images/icon/Manchester.png") no-repeat;}
.Eindhoven{background:url("../images/icon/Eindhoven.png") no-repeat ;}
.AtleticoMadrid{background:url("../images/icon/AtleticoMadrid.png") no-repeat;}
.PFC{background:url("../images/icon/PFC.png") no-repeat ;}
.BCE{background:url("../images/icon/BCE.png") no-repeat;}
.Juventus{background:url("../images/icon/Juventus.png") no-repeat;}
.Sevilla{background:url("../images/icon/Sevilla.png") no-repeat;}
.Benfica{background:url("../images/icon/Benfica.png") no-repeat;}
.Monchengladbach{background:url("../images/icon/Monchengladbach.png") no-repeat;}
.Dortmund{background:url("../images/icon/Dortmund.png") no-repeat;}
.Tottenham{background:url("../images/icon/Tottenham.png") no-repeat;}
.Porto{background:url("../images/icon/Porto.png") no-repeat;}
.Monaco{background:url("../images/icon/Monaco.png") no-repeat;}
.Warszawa{background:url("../images/icon/Warszawa.png") no-repeat;}
.Copenhagen{background:url("../images/icon/Copenhagen.png") no-repeat;}

.Napoli{background:url("../images/icon/Napoli.png") no-repeat;}
.Barcelona{background:url("../images/icon/Barcelona.png") no-repeat;}
.BAYERN{background:url("../images/icon/BAYERN.png") no-repeat;}
.LSTF{background:url("../images/icon/LSTF.png") no-repeat;}
.Arsenal{background:url("../images/icon/Arsenal.png") no-repeat;}
.Paris{background:url("../images/icon/Paris.png") no-repeat;}
.Lyonnais{background:url("../images/icon/Lyonnais.png") no-repeat ;}
.SGLB{background:url("../images/icon/SGLB.png") no-repeat;}
.FCDinamo{background:url("../images/icon/FCDinamo.png") no-repeat;}
.Celtic{background:url("../images/icon/Celtic.png") no-repeat;}
.Portugal{background:url("../images/icon/Portugal.png") no-repeat;}
.Leverkusen{background:url("../images/icon/Leverkusen.png") no-repeat;}
.Brugge{background:url("../images/icon/Brugge.png") no-repeat;}
.Moscow{background:url("../images/icon/Moscow.png") no-repeat;}
.RealMadrid{background:url("../images/icon/RealMadrid.png") no-repeat;}
.LeicesterCity{background:url("../images/icon/LeicesterCity.png") no-repeat;}

.shareCamera{background:url("../images/icon/shareCamera.png") no-repeat;}
div.newsData a.shareMail{
    background:url("../images/icon/shareMail.png") no-repeat;
    border-right: none;
}
.shareWeibo{background:url("../images/icon/shareWeibo.png") no-repeat;}
.shareWeixin{background:url("../images/icon/shareWeixin.png") no-repeat;}

.shareCamera:hover{background:url("../images/icon/shareCamera_After.png") no-repeat;}
div.newsData a.shareMail:hover{
    background:url("../images/icon/shareMail_After.png") no-repeat;
}
.shareWeibo:hover{background:url("../images/icon/shareWeibo_After.png") no-repeat;}
.shareWeixin:hover{background:url("../images/icon/shareWeixin_After.png") no-repeat;}