*{outline: 0;padding: 0;margin: 0;border: 0;}
body{ font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; }
.rightArea{float: right;}
.leftArea{float: left;}
/*顶部信息条*/
.headbar{
    position: absolute;
    top:0;
    left:0;
    height: 30px;
    width:100%;
    margin: 0 auto;
    clear: both;
    background-color: #013870;
    border-bottom: 2px solid #9b1637;
    z-index: 998;
}
.headlogo{
    padding-left: 20px;
    height:30px;
    color: #9b1637;
}
.headlogo img{
    vertical-align: middle;
    margin-bottom: 5px;
}
.headlogo a{
    font-size: medium;
}
.headlogo a:hover{
    color: aliceblue;
}
.aboutMe{
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-right: 60px;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
}
.headimg{
    height: 115px;
    background:url("../images/headimg.jpg") no-repeat center top;
    background-size: 100% 100%;
    overflow: hidden;
    margin-top: 30px;
}
.xq_bag{
	width: 100%px;
	height: 30px;
	overflow: hidden;
	position: relative;
    background-color: #9b1637;
}
.xq_navbar{
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
	height: 30px;
	overflow: hidden;
	box-sizing: border-box;
	box-sizing:inherit;
}
.xq_navli{
	list-style: none;
	display: inline-block;
	color: #fff;
	box-sizing:inherit;
	text-align: center;
	float: left;
}
.xq_navli a{
	display: block;
	color: current color;
	text-decoration: none;
}
.xq_move{
	transition:all .3s ease-in-out;
	position:absolute;
}
.topBar{
    height: 50px;
    line-height: 50px;
    background-color: #e4e6e7;
    color: #74777b;
    padding-left:100px ;
    overflow: hidden;
}
.topMatch{
    padding: 0;
    margin: 0;
    text-align: center;
}
.Matchitem{
    overflow: hidden;
    zoom: 1;
    width:98%;
    margin-left: auto;
    margin-right: auto;
}
.Matchitem li{
    float: left;
    width: 145px;
    height: 90px;
    border: 1px #eeeeee solid;
    border-bottom: medium solid white;
    padding-top: 10px;
    font-size: 14px;
    color: #74777b;
}
@media screen and (min-width:1366px){
    .Matchitem li{width: 12%;}
}
li:hover{
    background-color: ;
}
.Matchitem li .team1{
    padding: 10px 20px 20px 54px;
    margin-top: -10px;
}
.Matchitem li .matchTime{
    margin-top: -10px;
    padding-left: 40px;
}
.Matchitem li .team2{
    margin-top: 10px;
    padding-left: 40px;
}
.btnArea{
    text-align: center;
}
.matchBtn{
    margin-top: 30px;
}
.matchBtn button.Wallop-buttonPrevious{
    cursor:pointer;
    width: 32px;
    height:32px;
    background: url("../images/icon/leftBefore.png") no-repeat center center;
    margin-right: 10px;
}
.matchBtn button.Wallop-buttonPrevious:hover{
    background: url("../images/icon/leftAfter.png") no-repeat center center;
}
.matchBtn button.Wallop-buttonPrevious:active{
    background: url("../images/icon/leftActive.png") no-repeat center center;
}
.matchBtn button.Wallop-buttonNext{
    cursor:pointer;
    width: 32px;
    height:32px;
    background: url("../images/icon/rightBefore.png") no-repeat center center;
}
.matchBtn button.Wallop-buttonNext:hover{
    background: url("../images/icon/rightAfter.png") no-repeat center center;
}
.matchBtn button.Wallop-buttonNext:active{
    background: url("../images/icon/rightActive.png")no-repeat center center;
}

.showPic{
    margin-top: 100px;
    background:url("../images/picBoximg.jpg") right center no-repeat;
    background-size:100% 100% ;
    width:100%;
    padding-top: 30px;
    padding-bottom: 20px;
    height: auto;
}
/*图片展示区*/
.picContainer{
    border-spacing:30px ;
    width: 100%;
    margin: 0 auto;
}
td{
    width: 260px;
    overflow: hidden;

}
/*图片特效*/
.avatar{
    border:3px solid rgba(0,0,0,0);
    overflow: hidden;
    position: relative;
}
.avatar:hover{
    border: 3px solid #55c4f4;
    transition:border 0.8s;
    -moz-transition:border 0.8s; /* Firefox 4 */
    -webkit-transition:border 0.8s; /* Safari and Chrome */
    -o-transition:border 0.8s; /* Opera */
}
.avatar img {
    display: block;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    transform: scale(1);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1);
    -webkit-transform: all 1s ease 0s;
}
.avatar:hover img {
    transform: scale(1.3);
    transition: all 1s ease 0s;
    -webkit-transform: scale(1.3);
    -webkit-transform: all 1s ease 0s;
}
div.picTitle{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    z-index: 12;
    margin-right: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9) 60%);
   background-image: -webkit-linear-gradient( to bottom, rgba(0,0, 0, 0) , rgba(0,0, 0, 0.9) 60%);
    background-image: -moz-linear-gradient( to bottom, rgba(0,0, 0, 0) , rgba(0,0, 0, 0.9) 60%);
    background-image: -o-linear-gradient( to bottom, rgba(0,0, 0, 0) , rgba(0,0, 0, 0.9) 60%);

    overflow: hidden;
}
.bigPic{
    padding-bottom: 15px;
}
.titleContant{
    color:#cbcbcb ;
}
.titleBox{
    width: 90%;
    margin: 0 auto;
    padding: 25px 15px 0 15px;
}
.picTime{
    font-size: 13px;
    font-style: italic;
    font-weight: lighter;
    color: #cbcbcb;
}
.bottomTitle{
    color: #fff;
    font-size: 21px;
    font-weight: lighter;
    padding-bottom: 10px;
}
.bigPic{
    padding-bottom: 20px;
}
.bigPic_title{
    font-size: 32px;
}
/*结束*/
.picBtn{
    overflow: hidden;
    zoom: 1;
    width: 100%;
    height: 45px;
    margin:40px auto;
    text-align: center;
}
.showPic a.morePic{
    display: inline-block;
    color: white;
    width:110px;
    height:38px;
    line-height: 38px;
    border: solid 1px white;
    margin-right: 20px;
    margin-left: 30px;
    transition: background-color 0.7s;
    -moz-transition:background-color 0.7s; /* Firefox 4 */
    -webkit-transition:background-color 0.7s; /* Safari and Chrome */
    -o-transition:background-color 0.7s; /* Opera */
}
.showPic a.btnLeft{
    text-align: right;
    padding-right: 6px;
    padding-left: 10px;
    background: url("../images/icon/toLeft.png") no-repeat 5px center;
    width: 113px;
    border-radius:6px;
}
.showPic a.btnLeft:hover{
    background-color:#55c4f4;
    border: 1px solid #55c4f4;
    border-radius:8px;
}
.showPic a.btnRight{
    text-align: left;
    padding-left: 8px;
    background: url("../images/icon/toRight.png") no-repeat 90px center;
    width: 113px;
    border-radius:6px;
}
.showPic a.btnRight:hover{
    background-color:#55c4f4;
    border: 1px solid #55c4f4;
    border-radius:8px;
}
/*欧冠文字*/
.textArea .textLine{
    color: #325585;
    font-weight: lighter;
    width: 80%;
    padding: 50px 40px;
    line-height: 50px;
    text-indent: 3em;
    background: url("../images/icon/logoicon.png") no-repeat 10px 12px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
    border-top: 2px solid #c0c0c0;
    border-bottom: 2px solid #c0c0c0;
    overflow: hidden;
}
.textArea .textLine p:last-child{
    margin-top: 14px;
}
.matchVideo{
    clear: both;
    overflow: auto;
}
.videoArea li:hover{
    border: none;
}
.videoArea a:hover{
    font-size: 16px;
}
.videoHead{
    margin-top: 30px;
    margin-left: 20px;
    color: #325585;
    font-size: 24px;
    font-weight: lighter;
}
.videoArea img{
    width:100%;
    height: auto;
}

.videoArea ul.videoList{
    width:90%;
    margin:20px auto;
    overflow:hidden;
}
.videoArea .videoList li{
    text-align: center;
    width: 20%;
    float: left;
    margin-bottom: 50px;
    margin-left: 5%;
}
.videoArea li span{
    display: inline-block;
    height: 50px;
    font-size: 12px;
    font-weight: lighter;
    padding-top: 0;
    color: #325585;
    overflow: hidden;
}
.videoArea li span:hover{
    text-decoration: underline;
}
.moreVideo{
    text-align: center;
    clear: both;
    color: #325585;
    font-weight: normal;
    display: block;/*dispaly:inline-block;*/
    width:340px;
    border: solid 2px #325585;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: 205px 8px;
    background-image: url("../images/icon/morevideo.png");
    border-radius: 6px;
    transition: background-color 0.5s;
    -moz-transition:background-color 0.5s; /* Firefox 4 */
    -webkit-transition:background-color 0.5s; /* Safari and Chrome */
    -o-transition:background-color 0.5s; /* Opera */
}
.hiddenVideo{
    display: none;
}
.videoArea .moreVideo:hover{
    background-color: #325585;
    color: white;
    border-radius: 8px;
    background-image:url("../images/icon/morevideoAfter.png") ;
}
.myTeam{
    margin-top: 100px;
    padding-top: 30px;
    text-align: center;
    color: #325585;
    font-weight: lighter;
    font-size: 18px;
}
.myTeam ul{
    width: 400px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.myTeam li{
    float: left;
    border: none;
}
/*底部*/
.footer{
    clear: both;
    background: black;
    overflow: hidden;
    text-align: center;
    font-weight:lighter ;
}
.footerContainer{
   /* background-color: yellow;*/
    height: 240px;
    width: 90%;
    margin:40px auto;
    margin-bottom: 16px;
    border-bottom:1px solid #325585 ;
    position: relative;

}
.footerContainer .footballIcon{
    display: inline-block;
    width: 118px;
    height: 100px;
    background: url("../images/icon/football1.png") no-repeat 40px 10px;
    /*background-color: #9b1637;*/
}
.footerContainer .footballIcon:hover{
    background: url("../images/icon/football2.png") no-repeat 48px 20px;
}
.footerTop{
    border: 1px black solid;
    width:80%;
    position: absolute;
    top:0;
    left: 18%;
}
.rightLine{
    border-right:1px solid #325585 ;
}
.footerContent{
    width:24%;
    margin-left: auto;
    margin-right: auto;
}
.footerContent a:hover{
    text-decoration: underline;
    color: antiquewhite;
}
.footerContent img{
    border: 4px solid black;
    transition: border 0.5s;
    border-radius: 4px;
    -moz-transition:border 0.5s; /* Firefox 4 */
    -webkit-transition:border 0.5s; /* Safari and Chrome */
    -o-transition:border 0.5s; /* Opera */
}
.footerContent img:hover{
    border: 4px solid antiquewhite;
}
.footerBottom{
  /*  background-color: #3498DB;*/
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 1px solid #325585;
}
.footerBottom .bottomText{
   /* background-color: #64448f;*/
    width: 80%;
    margin: 0 auto;
    color: #eeeeee;
}
.bottomText1{
    font-size: 18px;
    color:#f1f1f1;
}
.bottomText2{
    font-size:xx-small;
    color:#f1f1f1;
}

